In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
%matplotlib inline

In [2]:
csvpath = Path("whale_returns.csv")

In [3]:
# Reading whale returns
whale_returns_csv = Path("whale_returns.csv")
whale_returns_csv = pd.read_csv('whale_returns.csv')
whale_returns_csv.head()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
0,3/2/2015,NaN,NaN,NaN,NaN
1,3/3/2015,-0.001266,-0.004981,-0.000496,-0.006569
2,3/4/2015,0.002230,0.003241,-0.002534,0.004213
3,3/5/2015,0.004016,0.004076,0.002355,0.006726
4,3/6/2015,-0.007905,-0.003574,-0.008481,-0.013098

In [4]:
whale_returns_csv.isnull().values.any()

True

In [5]:
# Check for nulls
whale_returns_csv.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [6]:
# Drop missing values
whale_returns_csv = whale_returns_csv.dropna()

In [7]:
# Validate no more missing values
whale_returns_csv.isnull().sum()
whale_returns_csv.head()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
1,3/3/2015,-0.001266,-0.004981,-0.000496,-0.006569
2,3/4/2015,0.002230,0.003241,-0.002534,0.004213
3,3/5/2015,0.004016,0.004076,0.002355,0.006726
4,3/6/2015,-0.007905,-0.003574,-0.008481,-0.013098
5,3/9/2015,0.000582,0.004225,0.005843,-0.001652

In [8]:
# Reading whale returns
algo_returns_csv = Path("algo_returns.csv")
algo_returns_csv = pd.read_csv('algo_returns.csv')
algo_returns_csv.head()

        Date    Algo 1  Algo 2
0  5/28/2014  0.001745     NaN
1  5/29/2014  0.003978     NaN
2  5/30/2014  0.004464     NaN
3   6/2/2014  0.005692     NaN
4   6/3/2014  0.005292     NaN

In [9]:
algo_returns_csv.isnull().values.any()

True

In [10]:
algo_returns_csv.isnull().sum()

Date      0
Algo 1    0
Algo 2    6
dtype: int64

In [11]:
# Drop missing values
algo_returns_csv = algo_returns_csv.dropna()

In [12]:
# Validate no more missing values
algo_returns_csv.isnull().sum()
algo_returns_csv.head()

         Date    Algo 1    Algo 2
6    6/5/2014  0.004062  0.013285
7    6/6/2014  0.001857  0.008284
8    6/9/2014 -0.005012  0.005668
9   6/10/2014  0.004406 -0.000735
10  6/11/2014  0.004760 -0.003761

In [13]:
# Reading whale returns
sp500_history_csv = Path("sp500_history.csv")
sp500_history_csv = pd.read_csv('sp500_history.csv')
sp500_history_csv.head()

        Date       Close
0  23-Apr-19  $2,933.68
1  22-Apr-19  $2,907.97
2  18-Apr-19  $2,905.03
3  17-Apr-19  $2,900.45
4  16-Apr-19  $2,907.06

In [25]:
# Clean identified numeric fields with $ symbol 
sp500_history_csv['Close'] = sp500_history_csv['Close'].str.replace("$", "")
sp500_history_csv.head()

        Date      Close
0  23-Apr-19  2,933.68
1  22-Apr-19  2,907.97
2  18-Apr-19  2,905.03
3  17-Apr-19  2,900.45
4  16-Apr-19  2,907.06

In [22]:
# Check Data Types
sp500_history_csv.dtypes

Date     object
Close    object
dtype: object

In [27]:
 # Convert `Close` from `object` to `float`
sp500_history_csv["Close"] = sp500_history_csv["Close"].astype("float")
sp500_history_csv.dtypes

ValueError: could not convert string to float: '2,933.68 '

In [ ]:
# Calculate the daily return over the last 10 years
daily_return = amd_csv.pct_change()
daily_return.head()

In [ ]:
# Drop nulls
# YOUR CODE HERE
algo_returns_csv.isnull().sum()
algo_returns_csv = algo_returns_csv.dropna()

In [ ]:
# Rename Column   S&P 500
# YOUR CODE HERE
sp500_history_csv = sp500_history_csv.rename(columns={'Close':'S&P 500'})
sp500_history_csv.tail()

In [ ]:
 # Concatenate all DataFrames into a single DataFrame    Combine Whale, Algorithmic, and S&P 500 Returns
# YOUR CODE HERE
combined_df = pd.concat([whale_returns_csv,algo_returns_csv,sp500_history_csv], axis='columns', join='inner')
combined_df.head()

In [ ]:
# Plot daily returns  Performance calculate and plot the daily returns and cumulative returns, does any portfolio outperform the S&P 500?

# YOUR CODE HERE
combined_df.plot(figsize=(15,10),title="Daily Returns");

In [ ]:
 # Plot cumulative returns
# YOUR CODE HERE
cumulative_returns = (1 + combined_df).cumprod()
cumulative_returns.plot(figsize=(15,10),title="Cumulative Returns");

In [ ]:
# Box plot to visually show risk for each portfolio
# YOUR CODE HERE
combined_df.plot.box(figsize=(15,10),title="Box Plot Returns");

In [ ]:
# Daily Standard Deviations
# Calculate the standard deviation for each portfolio. 
# Which portfolios are riskier than the S&P 500?
# YOUR CODE HERE
combined_df.std().sort_values()

In [ ]:
# Determine which portfolios are riskier than the S&P 500
# YOUR CODE HERE
#calculate S&P STD
sp500risk = combined_df['S&P 500'].std()
#make checking logic on what is riskier than S&P
combined_df.std() > sp500risk

In [ ]:
# Calculate the annualized standard deviation (252 trading days)
# YOUR CODE HERE
annual_std = combined_df.std() * np.sqrt(252)
annual_std

In [ ]:
# Calculate and plot the rolling standard deviation for
# the S&P 500 and whale portfolios using a 21 trading day window
# YOUR CODE HERE
combined_df_roll_std = combined_df.rolling(window=21).std()

combined_df_roll_std.plot(figsize=(15,10),title="Rolling Stats for 21 days");

In [ ]:
# Construct a correlation table
# YOUR CODE HERE
corr_df = combined_df.corr()
corr_df.style.background_gradient(cmaps='summer')

In [ ]:
# Calculate Beta for a single portfolio compared to the total market (S&P 500)
# (Your graph may differ, dependent upon which portfolio you are comparing)
# YOUR CODE HERE
covariance = combined_df['SOROS FUND MANAGEMENT LLC'].rolling(window=60).cov(combined_df['S&P 500'])

#variance of the general market
variance = combined_df['S&P 500'].rolling(window=60).var()

#get the beta
beta = covarianc/variance

#plotting beta over time
beta.plot(figsize=(15,10), title="SOROS Beta")

In [ ]:
# Calculate a rolling window using the exponentially weighted moving average. 
# YOUR CODE HERE
combined_df.ewm(halflike=21).std().plot(figsize=(15,10), title="Portfolio STD EWMA");

In [ ]:
# Calculate annualized Sharpe Ratios
# YOUR CODE HERE
sharpe_ratios = (combined_df.mean() * 252) / (combined_df.std() * np.sqrt(252))
sharpe_ratios.sort_values()

In [ ]:
 # Visualize the sharpe ratios as a bar plot
# YOUR CODE HERE
sharpe_ratios.sort_values().plot(kind='bar', title='Sharpe Ratios')

In [ ]:
#  On the basis of this performance metric, do our algo strategies outperform both 'the market' and the whales? Type your answer here:

In [ ]:
#  Portfolio Returns
#In this section, you will build your own portfolio of stocks, calculate the returns,  compare the results to the Whale Portfolios and the S&P 500.
#Visit Google Sheets, use the inbuilt Google Finance function to choose 3-5 stocks for your own portfolio.
#download CSV files, calculate the portfolio returns.
#calculate what returns for each stock.
#Using those returns, calculate the weighted returns for your entire portfolio assuming an equal number of shares for each stock.
#Add your portfolio returns to the DataFrame with the other portfolios and rerun the analysis. How does your portfolio fair?

In [ ]:
#Your analysis should include the following:

#Using all portfolios:
#The annualized standard deviation (252 trading days) for all portfolios.
#The plotted rolling standard deviation using a 21 trading day window for all portfolios.
#The calculated annualized Sharpe Ratios and the accompanying bar plot visualization.
#A correlation table.


#Using your custom portfolio and one other of your choosing:
#The plotted beta.

In [ ]:
#Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.

In [ ]:
# Read the first stock
# YOUR CODE HERE

In [ ]:
# Read the second stock
# YOUR CODE HERE

In [ ]:
# Read the third stock
# YOUR CODE HERE

In [ ]:
# Concatenate all stocks into a single DataFrame
# YOUR CODE HERE

In [ ]:
# Reset the index
# YOUR CODE HERE

In [ ]:
# Pivot so that each column of prices represents a unique symbol
# YOUR CODE HERE

In [ ]:
# Drop Nulls
# YOUR CODE HERE

In [ ]:
#Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock

In [ ]:
 # Calculate weighted portfolio returns
weights = [1/3, 1/3, 1/3]
# YOUR CODE HERE

In [ ]:
# Join your portfolio returns to the DataFrame that contains all of the portfolio returns
# Add your "Custom" portfolio to the larger dataframe of fund returns
# YOUR CODE HERE

In [ ]:
# Only compare dates where return data exists for all the stocks (drop NaNs)
# YOUR CODE HERE

In [ ]:
#Re-run the performance and risk analysis with your portfolio to see how it compares to the others

In [ ]:
# Risk
# YOUR CODE HERE

In [ ]:
# Rolling
# YOUR CODE HERE

In [ ]:
# Annualized Sharpe Ratios
# YOUR CODE HERE

In [ ]:
# Visualize the sharpe ratios as a bar plot
# YOUR CODE HERE

In [ ]:
 # Create a correlation analysis
# YOUR CODE HERE

In [ ]:
# Beta
# YOUR CODE HERE