In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
%matplotlib inline

In [2]:
csvpath = Path("whale_returns.csv")

In [3]:
# Reading whale returns
whale_returns_csv = Path("whale_returns.csv")
whale_returns_csv = pd.read_csv('whale_returns.csv')
whale_returns_csv.head()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
0,3/2/2015,NaN,NaN,NaN,NaN
1,3/3/2015,-0.001266,-0.004981,-0.000496,-0.006569
2,3/4/2015,0.002230,0.003241,-0.002534,0.004213
3,3/5/2015,0.004016,0.004076,0.002355,0.006726
4,3/6/2015,-0.007905,-0.003574,-0.008481,-0.013098

In [4]:
whale_returns_csv.isnull().values.any()

True

In [5]:
# Check for nulls
whale_returns_csv.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [6]:
# Drop missing values
whale_returns_csv = whale_returns_csv.dropna()

In [7]:
# Validate no more missing values
whale_returns_csv.isnull().sum()
whale_returns_csv.head()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
1,3/3/2015,-0.001266,-0.004981,-0.000496,-0.006569
2,3/4/2015,0.002230,0.003241,-0.002534,0.004213
3,3/5/2015,0.004016,0.004076,0.002355,0.006726
4,3/6/2015,-0.007905,-0.003574,-0.008481,-0.013098
5,3/9/2015,0.000582,0.004225,0.005843,-0.001652

In [8]:
# Reading whale returns
algo_returns_csv = Path("algo_returns.csv")
algo_returns_csv = pd.read_csv('algo_returns.csv')
algo_returns_csv.head()

        Date    Algo 1  Algo 2
0  5/28/2014  0.001745     NaN
1  5/29/2014  0.003978     NaN
2  5/30/2014  0.004464     NaN
3   6/2/2014  0.005692     NaN
4   6/3/2014  0.005292     NaN

In [9]:
algo_returns_csv.isnull().values.any()

True

In [10]:
algo_returns_csv.isnull().sum()

Date      0
Algo 1    0
Algo 2    6
dtype: int64

In [11]:
# Drop missing values
algo_returns_csv = algo_returns_csv.dropna()

In [12]:
# Validate no more missing values
algo_returns_csv.isnull().sum()
algo_returns_csv.head()

         Date    Algo 1    Algo 2
6    6/5/2014  0.004062  0.013285
7    6/6/2014  0.001857  0.008284
8    6/9/2014 -0.005012  0.005668
9   6/10/2014  0.004406 -0.000735
10  6/11/2014  0.004760 -0.003761

In [13]:
# Reading whale returns
sp500_history_csv = Path("sp500_history.csv")
sp500_history_csv = pd.read_csv('sp500_history.csv')
sp500_history_csv.head()

        Date       Close
0  23-Apr-19  $2,933.68
1  22-Apr-19  $2,907.97
2  18-Apr-19  $2,905.03
3  17-Apr-19  $2,900.45
4  16-Apr-19  $2,907.06

In [25]:
# Clean identified numeric fields with $ symbol 
sp500_history_csv['Close'] = sp500_history_csv['Close'].str.replace("$", "")
sp500_history_csv.head()

        Date      Close
0  23-Apr-19  2,933.68
1  22-Apr-19  2,907.97
2  18-Apr-19  2,905.03
3  17-Apr-19  2,900.45
4  16-Apr-19  2,907.06

In [22]:
# Check Data Types
sp500_history_csv.dtypes

Date     object
Close    object
dtype: object

In [27]:
 # Convert `Close` from `object` to `float`
sp500_history_csv["Close"] = sp500_history_csv["Close"].astype("float")
sp500_history_csv.dtypes

ValueError: could not convert string to float: '2,933.68 '