In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
%matplotlib inline

In [7]:
csvpath = Path("whale_returns.csv")

In [13]:
# Reading whale returns
whale_returns_csv = Path("whale_returns.csv")
whale_returns_csv = pd.read_csv('whale_returns.csv')
whale_returns_csv.head()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
0,3/2/2015,NaN,NaN,NaN,NaN
1,3/3/2015,-0.001266,-0.004981,-0.000496,-0.006569
2,3/4/2015,0.002230,0.003241,-0.002534,0.004213
3,3/5/2015,0.004016,0.004076,0.002355,0.006726
4,3/6/2015,-0.007905,-0.003574,-0.008481,-0.013098

In [20]:
# Count nulls
whale_returns_csv.count()

Date                           1059
SOROS FUND MANAGEMENT LLC      1059
PAULSON & CO.INC.              1059
TIGER GLOBAL MANAGEMENT LLC    1059
BERKSHIRE HATHAWAY INC         1059
dtype: int64

In [33]:
whale_returns_csv.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
dtype: int64

In [24]:
# Reading whale returns
algo_returns_csv = Path("algo_returns.csv")
algo_returns_csv = pd.read_csv('algo_returns.csv')
algo_returns_csv.head()

        Date    Algo 1  Algo 2
0  5/28/2014  0.001745     NaN
1  5/29/2014  0.003978     NaN
2  5/30/2014  0.004464     NaN
3   6/2/2014  0.005692     NaN
4   6/3/2014  0.005292     NaN

In [26]:
# Count nulls
algo_returns_csv.count()

Date      1241
Algo 1    1241
Algo 2    1235
dtype: int64

In [30]:
algo_returns_csv = algo_returns_csv.dropna()

In [31]:
whale_returns_csv.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
dtype: int64